html {
    font-family: 'Lato', sans-serif;
}

*{box-sizing: border-box}

/* Añadiendole color al fondo-fuente. */

body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  background: linear-gradient(150deg,#b36c02,#1d242b);
  height: 100vh;
}

.header {
    padding: 16px;
    background-color: #4d4a4a;
    color:#FF9900;
    text-align: center;
}



.Registrate {
  padding: 16px;
  background-color: #4d4a4a;
  color:#FF9900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: whitesmoke;
  border-radius: 12px;
}

/* Colocando cuadros de texto extendidos */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 30px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}

input[type=text]:focus, input[type=password]:focus {
  background-color: yellow;
  outline: none;
}



/* Decorando el boton de registro */
.registerbtn {
  background-color: tomato;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Colocando color a los links referidos */
a {
  color: #FF9900;
}

/* Centrando y remarcando la zona de ingresar si ya se tiene una cuenta. */
.Registrate {margin: 30px;
text-align: center;
font-size: 16px;
color:#FF9900;
}

.Registrate a{
color: #FF9900;
text-decoration: none;
}

.Registrate a:hover{
text-decoration: underline;
}

.Ingresar {margin: 30px;
  text-align: center;
  font-size: 16px;
  color:#2e2d2c;
  }
  
  .Ingresar a{
  color: tomato;
  text-decoration: none;
  }
  
  .Ingresar a:hover{
  text-decoration: underline;
  }
  @media (max-width:991px) {
    body {
        padding: 30px;
    }
    form {
        width: 340px;
    }
}

